* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #445876;
}

/*Header Section*/

header {
    background-color: #31343D;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
}  

header h1 {
    margin: 0;
    display: flex;
}

h1 {
   font-size: 45px;
   color: #31343D;
   background-color: #92CCCD;
   width: 500px;
   display: flex;
   justify-content:flex-end;
   padding: 5px;
   padding-right: 12px;
}

header a {
    text-decoration: none;
    color: #92CCCD;
    border-bottom: solid 4px #92CCCD;
    margin-right: 20px;
    
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header nav ul li {
    padding: 15px;
    font-size: 22px;
}
/*End Header Section*/


/*Hero Section*/

.hero {
    background-image: url(../Images/cool-background.png);
    display: flex;
    background-size: cover;
    background-position: 80%;
    padding: 80px;
}


/*End Hero Section*/


/*Content Section*/

body {
    background-color: #EDEDF6;
}

#about-me, #work, #contact-me {
    display: flex;
    justify-items: flex-end;
    
}

.about-me-text, .work-text, .contact-text {
    font-size: 35px;
    border-right: solid 4px #445876;
    padding-right: 20px;
    margin: 50px 50px;
}

.about-me-text, .work-text {
    margin-left: 100px;
}

.bio-text {
    margin: 50px 50px; 
    display: flex;
}

.bio-text p {
    line-height: 1.7em;
}

.work-text {
    padding-right: 40px;
}

.contact-text {
    width: 200px;
    margin-right: 50px;
}

/*Work Content*/

.work-items {
    display: flex;
    flex-direction: column;
    
}

.bottom-work-items{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 5px;
    margin: 50px;
    margin-top: 5px;
    margin-right: 60px;
    margin-left: 50px;
}


.bottom-work-items .LED-wall, .calculator, .pastel-puzzle, .run-buddy {
    margin: 5px;
}

.surf-report {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../Images/surf-report.jpeg);
    background-size: cover;
    border-style: solid;
    border-color: #92CCCD;
    border-width: 5px;
    width: 800px;
    height: 400px;
    margin: 50px;
    margin-bottom: 5px;  
}

.surf-report-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: #92CCCD;
    border: #92CCCD;   
    
}

.LED-wall {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../Images/LED-wall.jpeg);
    background-size: cover;
    border: #92CCCD solid 5px;
    width: 385px;
    height: 150px; 
}

.LED-wall-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #92CCCD;
    width: 150px;
    height: 50px;   
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../Images/calculator.jpeg);
    background-size: cover;
    border: #92CCCD solid 5px;
    width: 385px;
    height: 150px;
}

.calculator-text {
    display: flex;
    flex-direction: column;
    background-color: #92CCCD;
    width: 200px;
}

.pastel-puzzle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../Images/pastel-puzzles.jpeg);
    background-size: cover;
    border: #92CCCD solid 5px;
    width: 385px;
    height: 150px;
}

.pastel-puzzle-text, .run-buddy-text {
    display: flex;
    flex-direction: column;
    background-color: #92CCCD;
    width: 100px;
}

.run-buddy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../Images/run-buddy.jpeg);
    background-size: cover;
    border: #92CCCD solid 5px;
    width: 385px;
    height: 150px;
}

.run-buddy:hover, .pastel-puzzle:hover, .calculator:hover, .LED-wall:hover, .surf-report:hover{
    cursor: pointer;
}

.run-buddy-link {
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*Contact Me Section*/

.contact-info {
    margin-top: 50px;
}

.contact-info ul {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.contact-info ul li {
    list-style: none;
    margin: 20px;
    padding: 15px;
    font-size: 22px;
    color: #31343D;
}

.contact-info li {
    border-bottom: solid;
    border-color:#445876;
    border-width: 5px;
}

.contact-info a {
    text-decoration: none;
    color: #31343D;
}

/*Media Queries*/

